h3 {
	text-align: center;
}

html {
}

body {
    margin: 0;
    height: 100%;
}

div#main-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

div.info-block {
	width: 40%;
	display: inline-block;
	text-align: center;
}

div#bottom-area {
    width: 100%;
    position: fixed;
    top: 100px;
    bottom: 0;
}

div#show-area {
    width: 100%;
    height: 100%;
}

div#menu-area {
    text-align: center;
}

div.menu-item {
    display: inline-block;
    cursor: pointer;
    padding: 7px;
}

div.menu-item-holder {
    text-align: center;
}

div#top-area {
    height: 100px;
    min-height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}


div.bottom-sign {
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

a.custom-link, a.custom-link:visited {
    color: #005a8c;
    text-decoration: none;
}

a.custom-link:hover {
    color: #005a8c;
    text-decoration: underline;
}